<template>
  <div class="pt-3 pb-3">
    <b-button variant="primary" block @click="addClick">
      <slot></slot>
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'AddTemplateBar',
  methods: {
    addClick() {
      this.$emit('add');
    },
  },
};
</script>

<style lang="scss">

</style>
