<template>
  <div class="empty-section text-center">
    <span class="icon icon-add-template big-icon"></span>
    <p>La lista dei template è vuota, puoi iniziare da
      <a href="#" @click="sectionClicked">aggiungi un elemento</a></p>
  </div>
</template>
<script>
export default {
  name: 'EmptyTemplateList',
  methods: {
    sectionClicked() {
      this.$emit('click');
    },
  },
};
</script>
<style lang="scss">
  .big-icon {
    font-size: 10rem;
  }
</style>
