<template>
  <div class="row">
    <div class="col">
      <b-form-group>
        <b-input-group>
          <b-form-input label="10" v-model="filter" placeholder="Tipo da cercare"></b-form-input>
        </b-input-group>
      </b-form-group>
      <b-table striped hover
               :items="tableItemsProvider"
               :fields="tableFields"
               @row-clicked="rowClicked"
               :current-page="currentPage"
               :per-page="perPage"
               :filter="filter">
      </b-table>
      <LoadingSpinner v-if="listLoading"></LoadingSpinner>
      <div class="row">
        <div class="col-md-6">
          <b-pagination :total-rows="totalRows"
                        :per-page="perPage"
                        v-model="currentPage"></b-pagination>
        </div>
        <div class="col-md-6">
          <b-form-group horizontal label="Per pagina">
            <b-form-select :options="pageOptions" v-model="perPage"></b-form-select>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingSpinner from '../../../common/components/LoadingSpinner';

export default {
  name: 'TemplatesTable',
  props: {
    templates: Array,
    tableItemsProvider: Function,
    tableFields: Array,
    listLoading: Boolean,
    totalRows: Number,
  },
  components: { LoadingSpinner },
  data() {
    return {
      firstTimeListLoading: true,
      perPage: 5,
      currentPage: 1,
      pageOptions: [5, 10, 15],
      filter: '',
    };
  },
  methods: {
    rowClicked(item) {
      this.$emit('row-clicked', item);
    },
  },
};
</script>
