<template>
  <div>
    <div class="row">
      <div class="col">
        <AddButtonAsBar @add="addClick">
          <slot name="add-button"></slot>
        </AddButtonAsBar>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ListTable v-if="!emptyList" @row-clicked="rowClicked"
                   @empty-list="listIsEmpty" :table-fields="tableFields"
                   :list-loading="listLoading" :table-items-provider="tableItemsProvider"
                   :total-rows="totalRows">
        </ListTable>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <EmptyTemplateList v-if="emptyList"
                           @click="addClick"></EmptyTemplateList>
      </div>
    </div>
    <slot name="modal-editing"></slot>
  </div>
</template>
<script>
import AddButtonAsBar from './AddButtonAsBar';
import EmptyTemplateList from './EmptyListScreen';
import SingleTemplate from '../TemplateComponents/SingleTemplateModal';
import ListTable from './ListTable';

export default {
  name: 'TableSection',
  components: { AddButtonAsBar, EmptyTemplateList, SingleTemplate, ListTable },
  data() {
    return {
      emptyList: false,
    };
  },
  props: {
    addClick: {},
    rowClicked: {},
    tableItemsProvider: {},
    tableFields: {},
    listLoading: {},
    totalRows: {},
  },
  methods: {
    openModal() {

    },
    listIsEmpty() {
      this.emptyList = true;
    },
  },
};
</script>
