<template>
  <b-modal ref="singleTemplateModal" hide-footer size="lg" hide-header>
    <div v-if="loadingInProgress">
      <LoadingSpinner v-if="error.length === 0"/>
      <b-alert show variant="warning" v-if="error.length !== 0">
      Errore durante il caricamento</b-alert>
    </div>
    <div v-if="!loadingInProgress">
      <PhotoCarousel ref="photoCarousel"
                     class="photoCarousel"
                     :uploadSlideEnable="uploadStatus"
                     :images="images"
                     :single-image="true"
                     @upload-start="uploadStart"
                     @upload-end="uploadEnd"></PhotoCarousel>
      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group label="Category name:"
                      label-for="template-form-name-field"
                      :invalid-feedback="invalidFeedbackName"
                      :state="stateName"
                      class="mx-3 mt-2">
          <b-form-input id="template-form-name-field"
                        type="text"
                        v-model="form.name"
                        required
                        placeholder="Inserire il nome della categoria">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Description:"
                      label-for="template-form-name-field"
                      :invalid-feedback="invalidFeedbackDescription"
                      :state="stateDescription"
                      class="mx-3 mt-2">
          <b-form-input id="template-form-name-field"
                        type="text"
                        v-model="form.description"
                        required
                        placeholder="Inserire la descrizione della catgoria">
          </b-form-input>
        </b-form-group>
        <b-form-group class="mx-3 mt-2">
          <b-form-checkbox id="template-form-disabled-field"
                           v-model="form.disabled"
                           :value="true"
                           :unchecked-value="false">
            Disabilitato
          </b-form-checkbox>
        </b-form-group>
        <b-form-group class="mx-3 mt-2">
          <ProductList></ProductList>
        </b-form-group>
        <div class="px-3 pt-2 pb-3">
          <b-button type="submit" variant="primary" block :disabled="uploadInProgress">
            Invia
          </b-button>
        </div>
      </b-form>
    </div>
    <div class="px-3 pt-2 pb-3">
      <b-button variant="secondary" block @click="close">
        Chiudi
      </b-button>
    </div>
  </b-modal>
</template>
<script>
import PhotoCarousel from '../../../common/components/PhotoCarousel';
import LoadingSpinner from '../../../common/components/LoadingSpinner';
import CategoryRequest from '../../api/Category';
import Category from '../../api/model/Category';

export default {
  name: 'CategorySingleModal',
  components: { LoadingSpinner, PhotoCarousel },
  data() {
    return {
      loadingInProgress: false,
      uploadInProgress: false,
      error: '',
      form: new Category(),
      uploadStatus: true,
      optionsDisabled: [
        {
          text: 'Abilitata',
          value: false,
        },
        {
          text: 'Disabilitata',
          value: true,
        },
      ],
      images: [],
    };
  },
  methods: {
    show(id) {
      if (id === -1) {
        this.form = new Category();
        this.form.id = -1;
        this.loadingInProgress = false;
      } else {
        this.loadingInProgress = true;
        this.error = '';
        CategoryRequest.SingleCategory(id).then((result) => {
          this.form = new Category(result);
          this.images = [this.form.image];
          this.loadingInProgress = false;
        }).catch((error) => {
          console.log(error);
          this.error = error;
        });
      }
      this.$refs.singleTemplateModal.show();
    },
    close() {
      this.$refs.singleTemplateModal.hide();
    },
    onSubmit(event) {
      event.preventDefault();
      if (this.form.id !== -1) {
        // Update request
        CategoryRequest.UpdateCategory(
          this.form.id,
          this.form.name,
          this.form.description,
          this.form.disabled,
          this.$refs.photoCarousel.getSelectImage(),
        );
      } else {
        // Add request
        CategoryRequest.AddCategory(
          this.form.name,
          this.form.description,
          this.form.disabled,
          this.$refs.photoCarousel.getSelectImage(),
        );
      }
    },
    uploadStart() {
      this.uploadInProgress = true;
    },
    uploadEnd() {
      this.uploadInProgress = false;
    },
    onReset() {
    },
  },
  computed: {
    stateName() {
      return this.form.isValid(Category.NAME_FIELD_NAME).length <= 0;
    },
    invalidFeedbackName() {
      return this.form.isValid(Category.NAME_FIELD_NAME);
    },
    stateDescription() {
      return this.form.isValid(Category.DESCRIPTION_FIELD_NAME).length <= 0;
    },
    invalidFeedbackDescription() {
      return this.form.isValid(Category.DESCRIPTION_FIELD_NAME);
    },
  },
};
</script>
<style lang="scss">
  .photoCarousel {
    height: 20vh;
  }
</style>
