<template>
  <div id="app">
      <NavigationBar>
      <ul class="navbar-nav">
          <a class="navbar-text mr-3 font-italic font-weight-bold" href="#"
            v-on:click="apriAnag">
          <li>
              <table>
                  <tr>
                      <td v-if="avatar.length !== 0" align="right">
                         <img style="height: 30px;" :src="avatar[0].url" />
                      </td>
                      <td align="right">
                            Ciao {{ name }} !
                      </td>
                  </tr>
              </table>
          </li>
          </a>
        <li v-if="!logged" class="nav-item mb-2 mt-2">
            <span @click="apriLogin" class="icon-login"></span>
        </li>
        <li v-if="logged" class="nav-item mb-2 mt-2">
            <span @click="logout" class="icon-logout"></span>
        </li>
        <li v-if="isAdmin()" class="nav-item mb-2 mt-2">
            <span @click="gotoAdminPage()" class="icon-wrench"></span>
        </li>
      </ul>
      </NavigationBar>
    <BodySection>
      <ListView ref="listview"></ListView>
      <Login ref="Login" @loginComplete="loginFatto"></Login>
      <Anag ref="Anag" @anagComplete="anagFatto" @anagReload="enterRequest"></Anag>
      <Banner ref="Banner" @bannerComplete="bannerFatto"></Banner>
    </BodySection>
    <FooterBar></FooterBar>
  </div>
</template>

<script>
import NavigationBar from '../common/components/NavigationBar';
import FooterBar from '../common/components/FooterBar';
import BodySection from '../common/components/BodySection';
import PhotoCarousel from '../common/components/PhotoCarousel';
import ListView from './components/ListsView';
import Login from '../login/components/Login';
import Anag from '../login/components/Anag';
import Banner from '../login/components/Banner';
import EnterRequest from '../login/api/EnterRequest';
import SignOutRequest from '../login/api/SignOutRequest';
import BannerRequest from '../login/api/BannerRequest';
import LogoutNotification from '../login/LogoutNotification';

export default {
  name: 'App',
  components: {
    PhotoCarousel, Login, Anag, Banner, ListView, BodySection, FooterBar, NavigationBar,
  },
  data() {
    return {
      logged: false,
      name: 'anonimo',
      surname: '',
      email: '',
      avatar: [],
      remember: 'N',
      admin: 'N',
      banner: 'Y',
    };
  },
  methods: {
    enterRequest() {
      EnterRequest.DoIt().then((result) => {
        this.msg = result.message;
        this.getUserInfoRequest();
      }).catch((error) => {
        this.msg = error.message;
      });
      return null;
    },
    getUserInfoRequest() {
      EnterRequest.ReadUserInfo().then((result) => {
        if (result.message === 'OK') {
          this.name = result.name;
          this.surname = result.surname;
          this.email = result.email;
          this.avatar = result.avatar;
          if (this.avatar == null) {
            this.avatar = [];
          }
          this.remember = result.remember;
          this.admin = result.admin;
          this.logged = (this.email !== '');
        }
      }).catch((error) => {
        this.msg = error.message;
      });
      return null;
    },
    acceptProbe() {
      BannerRequest.IsAccepted().then((result) => {
        this.message = result.message;
        if (this.message === 'Y') {
          this.banner = 'N';
          this.$refs.Banner.chiudiBanner();
        }
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
    apriLogin() {
      this.$refs.Login.apriSignInOn();
    },
    apriBanner() {
      this.$refs.Banner.apriBan();
    },
    onChiudiLogin() {
      this.$refs.Login.chiudiSignInOn();
    },
    apriAnag() {
      this.$refs.Anag.apriAnag(this);
    },
    logout() {
      SignOutRequest.Bye().then((result) => {
        this.msg = result.message;
        this.name = 'anonimo';
        this.surname = '';
        this.email = '';
        this.avatar = [];
        this.remember = 'N';
        this.admin = 'N';
        this.logged = false;
        this.$refs.listview.getAllShoppingLists();
      }).catch((error) => {
        this.msg = error.message;
      });
      LogoutNotification.CallCalbacks();
      return null;
    },
    loginFatto(result) {
      if (result.message === 'OK') {
        this.name = result.name;
        this.surname = result.surname;
        this.email = result.email;
        this.avatar = result.avatar;
        if (this.avatar == null) {
          this.avatar = [];
        }
        this.remember = result.remember;
        this.admin = result.admin;
        this.logged = true;
        this.$refs.Login.chiudiSignInOn();
        this.$refs.listview.getAllShoppingLists();
      }
    },
    bannerFatto() {
      this.$refs.Banner.chiudiBanner();
    },
    anagFatto() {
    },
    isAdmin() {
      return (this.logged && this.admin === 'Y');
    },
    gotoAdminPage() {
      window.location.href = applicationParameter.contextURL.concat('/admin');
    },
  },
  beforeMount() {
    this.enterRequest();
  },
  mounted() {
    this.acceptProbe();
    if (this.banner === 'Y') {
      this.apriBanner();
    }
  },
};
</script>

<style lang="scss">
  @import '../common/assets/common';
</style>
