<template>
  <div>
    <b-btn v-b-modal.newshoppinglist>Aggiungi Lista</b-btn>

    <!-- Modal Component -->
    <div class="container">
        <b-modal id="newshoppinglist" title="Nuova Lista della Spesa"
                 ref="newshoppinglist"
                 @ok="onSubmit"
                 @cancel="onReset"
                 cancel-title="Reset"
                 cancel-variant="danger">
            <PhotoCarousel ref="photoCarousel"
                           uploadSlideEnable :images="imagesTemplate"></PhotoCarousel>
            <div class="w-100 p-3">
                <b-form @submit.stop.prevent="onSubmit"
                      @reset.stop.prevent="onReset">
                  <b-form-group class="text-left"
                                id="shoppinglisttemplate"
                                label="Template: "
                                label-for="shoppinglist_template">
                        <b-form-select id="shoppinglist_template"
                                       v-model="form.selected_item"
                                       class="mb-3"
                                       @change="loadTemplateImage">
                            <option v-bind:key="template.name"
                                    v-for="template in templateList" :value="template.id">
                                {{template.name}}
                            </option>
                        </b-form-select>
                  </b-form-group>
                  <b-form-group class="text-left"
                                id="shoppinglistname"
                                label="Name:"
                                label-for="shoppinglist_name"
                                :invalid-feedback="invalidFeedbackName"
                                :state="stateName">
                    <b-form-input id="shoppinglist_name"
                                 type="text"
                                 v-model="form.name"
                                 placeholder="Nome del template della lista"
                                 required>
                    </b-form-input>
                 </b-form-group>
                 <b-form-group class="text-left"
                               id="shoppinglistdescription"
                               label="Descrizione:"
                               label-for="shoppinglist_description"
                               :invalid-feedback="invalidFeedbackDescription"
                               :state="stateDescription">
                   <b-form-input id="shoppinglist_description"
                                 type="text"
                                 v-model="form.description"
                                 placeholder ="Descrizione"
                                 required>
                   </b-form-input>
                 </b-form-group>
                 <br><br>
                </b-form>
            </div>
        </b-modal>
    </div>
  </div>
</template>

<script>
import SaveShoppingList from '../../api/SaveShoppingList';
import PhotoCarousel from '../../../common/components/PhotoCarousel';
import TemplateList from '../../api/TemplateList';
import TemplateListRequest from '../../../common/api/TemplateList';

export default {
  name: 'AddList',
  components: { PhotoCarousel },
  mounted() {
    this.getTemplateList();
  },
  data() {
    return {
      form: {
        name: '',
        description: '',
        image: '',
        selected_item: 0,
      },
      templateList: [],
      successMessage: false,
      imagesTemplate: [],
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      const el = document.getElementById('shoppinglist_template');
      this.form.selected_item = el.options[el.selectedIndex].value;
      this.form.image = this.$refs.photoCarousel.getSelectImage();
      SaveShoppingList.SaveShoppingList(this.form.name, this.form.description,
        this.form.image, this.form.selected_item).then((result) => {
        this.successMessage = result;
        if (this.successMessage === true) {
          this.$emit('refresh-on-add');
        }
      }).catch((error) => {
        console.log(error);
      });
      this.$refs.newshoppinglist.hide();
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.name = '';
      this.form.description = '';
      this.form.image = null;
      this.form.selected_item = this.templateList[0].id;
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true; });
    },
    getTemplateList() {
      TemplateList.GetTemplateList().then((result) => {
        this.templateList = result;
        this.form.selected_item = this.templateList[0].id;
        this.loadTemplateImage();
      }).catch((error) => {
        console.log(error);
      });
    },
    loadTemplateImage() {
      this.$nextTick(() => {
        console.log(this.form.selected_item);
        TemplateListRequest.SingleTemplateList(this.form.selected_item).then((result) => {
          this.imagesTemplate = result.images;
        });
      });
    },
    isValid(fieldName) {
      if (fieldName === 'DESCRIPTION' || fieldName === undefined) {
        if (this.form.description == null) {
          return 'Description can\'t be null';
        }
        if (this.form.description.length <= 0) {
          return 'Il campo non può essere vuoto';
        }
      }
      if (fieldName === 'NAME' || fieldName === undefined) {
        if (this.form.name == null) {
          return 'Name can\'t be null';
        }
        if (this.form.name.length <= 0) {
          return 'Il campo non può essere vuoto';
        }
      }
      if (fieldName === undefined) {
        if (this.form.image == null) {
          return 'Image can\'t be null';
        }
      }
      return '';
    },
  },
  computed: {
    stateName() {
      return this.isValid('NAME').length <= 0;
    },
    invalidFeedbackName() {
      return this.isValid('NAME');
    },
    stateDescription() {
      return this.isValid('DESCRIPTION').length <= 0;
    },
    invalidFeedbackDescription() {
      return this.isValid('DESCRIPTION');
    },
  },
};
</script>

<style lang="scss">

</style>
