<template>
  <div class="col-lg-12 col-md-12 col-sm-10 portfolio-item">
      <div class="card h-100">
        <a href="#">
          <b-img :src="this.shoppinglist.image.url" fluid alt="" ></b-img>
        </a>
        <div class="card-body">
          <h4 class="card-title">
            {{this.shoppinglist.name}}
          </h4>
          <p class="card-text">{{this.shoppinglist.description}}</p>
          <b-list-group>
            <b-list-group-item v-bind:key="product.name" v-for="product in productList">
                {{product.name}}
            </b-list-group-item>
          </b-list-group>
          <br>
          <b-btn type="button" class="btn btn-default" @click="loadListModal">Mostra Tutto</b-btn>
          <b-btn v-if="this.shoppinglist.can_edit_list_detail === false" disabled
                 v-b-modal.updateshoppinglist>Aggiorna Lista</b-btn>
          <b-btn v-else v-b-modal.updateshoppinglist @click="loadUpdateModal">Aggiorna Lista</b-btn>
          <p></p>
        </div>
      </div>
    <br>
  </div>
</template>

<script>
import ProductList from '../../api/ProductList';

export default {
  name: 'ListItem',
  data() {
    return {
      productList: [],
      successmessage: false,
    };
  },
  props: {
    shoppinglist: {
      /*
      type: Object,
      default: () => ({}),
      */
    },
  },
  mounted() {
    this.getProductList();
  },
  methods: {
    loadListModal() {
      this.$emit('select-element');
    },
    loadUpdateModal() {
      this.$emit('update-element', this.shoppinglist.id);
    },
    getProductList() {
      ProductList.GetProductList(this.shoppinglist.id).then((result) => {
        this.productList = result;
      }).catch((error) => {
        console.log(error);
      });
    },
  },
};
</script>

<style lang="scss">

</style>
