<template>
  <div class="container">
    <h4>Categorie:</h4>
    <table class="table product-group">
      <tbody>
        <tr v-bind:key="category.id" v-for="category in categories">
          <div class="col-12">
            <span class="icon-trash-empty h3" @click="removeCategory(category)"></span>
            {{ category.name }}
          </div>
        </tr>
      </tbody>
    </table>
    <Autocomplete :items="categoriesItems" v-model="categorySelect" :get-label="getLabel"
                  :component-item='categoryAutoCompleteTemplate' @update-items="updateItems"
                  @item-selected="addCategory" :min-len="1">
    </Autocomplete>
  </div>
</template>
<script>
import Autocomplete from 'v-autocomplete';

import PhotoCarousel from '../../../common/components/PhotoCarousel';
import CategoryRequest from '../../api/Category';
import NameDescriptionTemplate from '../TableComponents/NameDescriptionTemplate';

export default {
  name: 'CategorySelection',
  components: { PhotoCarousel, Autocomplete },
  data() {
    return {
      categoriesItems: [],
      categorySelect: null,
      categoryAutoCompleteTemplate: NameDescriptionTemplate,
    };
  },
  props: {
    categories: {},
  },
  methods: {
    addCategory(item) {
      const result = this.categories.filter(element => element.id === item.id);
      if (result.length === 0) {
        this.categories.push(item);
      }
      this.categorySelect = null;
    },
    getLabel(item) {
      return item.name;
    },
    updateItems(text) {
      CategoryRequest.GetCategoryList({ filter: text }).then((result) => {
        this.categoriesItems = result.elements;
      });
    },
    removeCategory(item) {
      const index = this.categories.indexOf(item);
      console.log(index);
      if (index !== -1) {
        this.categories.splice(index, 1);
      }
    },
    getCategoriesArray() {
      return this.categories.map(value => ({ id: value.id }));
    },
  },
};
</script>
<style lang="scss">
.v-autocomplete .v-autocomplete-input-group .v-autocomplete-input {
  font-size: 1.5em;
  padding: 10px 15px;
  box-shadow: none;
  border: 1px solid #157977;
  width: calc(100% - 32px);
  outline: none;
  background-color: #eee;
}

.v-autocomplete .v-autocomplete-input-group.v-autocomplete-selected .v-autocomplete-input {
  color: #008000;
  background-color: #f2fff2;
}

.v-autocomplete .v-autocomplete-list {
  width: 100%;
  text-align: left;
  border: none;
  border-top: none;
  max-height: 400px;
  overflow-y: auto;
  border-bottom: 1px solid #157977;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #157977;
  border-left: 1px solid #157977;
  border-right: 1px solid #157977;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:last-child {
  border-bottom: none;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:hover {
  background-color: #eee;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item abbr {
  opacity: 0.8;
  font-size: 0.8em;
  display: block;
  font-family: sans-serif;
}
</style>
