<template>
  <b-form-select id="template-form-geolocation-type-field"
                 v-model="form.geolocationIdentifier"
                 :options="optionsGeolocation"
                 class="mb-3">
  </b-form-select>
</template>
<script>
export default {
  name: 'GeolocationComponent',
  data() {
    return {
      optionsGeolocation: [
        { value: 'accounting', text: 'Contabilità' },
        { value: 'airport', text: 'Aereoporto' },
        { value: 'amusement_park', text: 'Parco divertimenti' },
        { value: 'aquarium', text: 'Acquario' },
        { value: 'art_gallery', text: 'Galleria d\'arte' },
        { value: 'atm', text: 'ATM' },
        { value: 'bakery', text: 'Pasticceria' },
        { value: 'bank', text: 'Banca' },
        { value: 'bar', text: 'Bar' },
        { value: 'beauty_salon', text: 'Salone di bellezza' },
        { value: 'bicycle_store', text: 'Negozio di biciclette' },
        { value: 'book_store', text: 'Libreria' },
        { value: 'bowling_alley', text: 'Bowling' },
        { value: 'bus_station', text: 'Stazione degli autobus' },
        { value: 'cafe', text: 'Caffetteria' },
        { value: 'campground', text: 'Campeggio' },
        { value: 'car_dealer', text: 'Rivenditore di automobili' },
        { value: 'car_rental', text: 'Noleggio di automobili' },
        { value: 'car_repair', text: 'Auto riparazioni' },
        { value: 'car_wash', text: 'Autolavaggio' },
        { value: 'casino', text: 'Casinò' },
        { value: 'cemetery', text: 'Cimitero' },
        { value: 'church', text: 'Chiesa' },
        { value: 'city_hall', text: 'Municipio' },
        { value: 'clothing_store', text: 'Negozio di vestiti' },
        { value: 'convenience_store', text: 'Minimarket' },
        { value: 'courthouse', text: 'Palazzo di giustizia' },
        { value: 'dentist', text: 'Dentista' },
        { value: 'department_store', text: 'Grande magazzino' },
        { value: 'doctor', text: 'Medico' },
        { value: 'electrician', text: 'Elettricista' },
        { value: 'electronics_store', text: 'Negozio di elettronica' },
        { value: 'embassy', text: 'Ambasciata' },
        { value: 'fire_station', text: 'Caserma dei pompieri' },
        { value: 'florist', text: 'Fioraio' },
        { value: 'funeral_home', text: 'Onoranze funebri' },
        { value: 'furniture_store', text: 'Negozio di mobili' },
        { value: 'gas_station', text: 'Stazione di servizio' },
        { value: 'gym', text: 'Palestra' },
        { value: 'hair_care', text: 'Parrucchiere' },
        { value: 'hardware_store', text: 'Ferramenta' },
        { value: 'hindu_temple', text: 'Tempio Hindu' },
        { value: 'home_goods_store', text: 'Negozio per la casa' },
        { value: 'hospital', text: 'Ospedale' },
        { value: 'insurance_agency', text: 'Agenzia assicurativa' },
        { value: 'jewelry_store', text: 'Gioielleria' },
        { value: 'laundry', text: 'Lavanderia' },
        { value: 'lawyer', text: 'Avvocato' },
        { value: 'library', text: 'Biblioteca' },
        { value: 'liquor_store', text: 'Negozio di liquori' },
        { value: 'local_government_office', text: 'Uffici del governo locale' },
        { value: 'locksmith', text: 'Fabbro' },
        { value: 'lodging', text: 'Alloggio' },
        { value: 'meal_delivery', text: 'Consegna pasti' },
        { value: 'meal_takeaway', text: 'Takeaway' },
        { value: 'mosque', text: 'Moschea' },
        { value: 'movie_rental', text: 'Noleggio film' },
        { value: 'movie_theater', text: 'Cinema' },
        { value: 'moving_company', text: 'Azienda di traslochi' },
        { value: 'museum', text: 'Museo' },
        { value: 'night_club', text: 'Discoteca' },
        { value: 'painter', text: 'Pittore' },
        { value: 'park', text: 'Parco' },
        { value: 'parking', text: 'Parcheggio' },
        { value: 'pet_store', text: 'Negozio di animali' },
        { value: 'pharmacy', text: 'Farmacia' },
        { value: 'physiotherapist', text: 'Fisioterapista' },
        { value: 'plumber', text: 'Idraulico' },
        { value: 'police', text: 'Polizia' },
        { value: 'post_office', text: 'Ufficio postale' },
        { value: 'real_estate_agency', text: 'Agenzia immobiliare' },
        { value: 'restaurant', text: 'Ristorante' },
        { value: 'roofing_contractor', text: 'Impresa di costruzione tetti' },
        { value: 'rv_park', text: 'Campeggio' },
        { value: 'school', text: 'Scuola' },
        { value: 'shoe_store', text: 'Negozio di scarpe' },
        { value: 'shopping_mall', text: 'Centro commerciale' },
        { value: 'spa', text: 'Terme' },
        { value: 'stadium', text: 'Stadio' },
        { value: 'storage', text: 'Deposito' },
        { value: 'store', text: 'Negozio' },
        { value: 'subway_station', text: 'Stazione metropolitana' },
        { value: 'supermarket', text: 'Supermercato' },
        { value: 'synagogue', text: 'Sinagoga' },
        { value: 'taxi_stand', text: 'Fermata del taxi' },
        { value: 'train_station', text: 'Stazione ferroviaria' },
        { value: 'transit_station', text: 'Stazione di transito' },
        { value: 'travel_agency', text: 'Agenzia viaggi' },
        { value: 'veterinary_care', text: 'Veterinario' },
        { value: 'zoo', text: 'Zoo' },
      ],
    };
  },
  props: {
    form: {},
  },
};
</script>
