<template>
  <b-modal ref="singleTemplateModal" hide-footer size="lg" hide-header>
    <div v-if="loadingInProgress">
      <LoadingSpinner v-if="error.length === 0"/>
      <b-alert show variant="warning" v-if="error.length !== 0">
      Errore nel caricamento del file</b-alert>
    </div>
    <div v-if="!loadingInProgress">
      <PhotoCarousel ref="photoCarousel"
                     class="photoCarousel"
                     :uploadSlideEnable="uploadStatus"
                     :images="form.images"
                     @upload-start="uploadStart"
                     @upload-end="uploadEnd"></PhotoCarousel>
      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group label="Template name:"
                      label-for="template-form-name-field"
                      :invalid-feedback="invalidFeedbackName"
                      :state="stateName"
                      class="mx-3 mt-2">
          <b-form-input id="template-form-name-field"
                        type="text"
                        v-model="form.name"
                        required
                        placeholder="Inserire il nome del template">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Description:"
                      label-for="template-form-name-field"
                      :invalid-feedback="invalidFeedbackDescription"
                      :state="stateDescription"
                      class="mx-3 mt-2">
          <b-form-input id="template-form-name-field"
                        type="text"
                        v-model="form.description"
                        required
                        placeholder="Inserire la descrizione del template">
          </b-form-input>
        </b-form-group>
        <b-form-group class="mx-3 mt-2">
          <b-form-checkbox id="template-form-disabled-field"
                           v-model="form.disabled"
                           :value="true"
                           :unchecked-value="false">
            Disabilitato
          </b-form-checkbox>
        </b-form-group>
        <b-form-group class="mx-3 mt-2" label="Geolocation Type:"
                      label-for="template-form-geolocation-type-field">
          <GeolocationComponent :b-form-select="b-form-select" :form="form"/>
        </b-form-group>
        <CategorySelection ref="categoriesSelector" :categories="form.categories">
        </CategorySelection>
        <div class="px-3 pt-2 pb-3">
          <b-button type="submit" variant="primary" block :disabled="uploadInProgress">
            Invia
          </b-button>
        </div>
      </b-form>
    </div>
    <div class="px-3 pt-2 pb-3">
      <b-button variant="secondary" block @click="close">
        Chiudi
      </b-button>
    </div>
  </b-modal>
</template>
<script>
import PhotoCarousel from '../../../common/components/PhotoCarousel';
import ShoppingListTemplate from '../../../common/api/model/ShoppingListTemplate';
import TemplateListRequest from '../../../common/api/TemplateList';
import LoadingSpinner from '../../../common/components/LoadingSpinner';
import CategorySelection from './CategorySelection';
import GeolocationComponent from './GeolocationComponent';

export default {
  name: 'SingleTemplate',
  components: { GeolocationComponent, CategorySelection, LoadingSpinner, PhotoCarousel },
  data() {
    return {
      loadingInProgress: false,
      uploadInProgress: false,
      error: '',
      form: new ShoppingListTemplate(),
      uploadStatus: true,
      optionsDisabled: [
        {
          text: 'Abilitata',
          value: false,
        },
        {
          text: 'Disabilitata',
          value: true,
        },
      ],
    };
  },
  methods: {
    show(id) {
      if (id === -1) {
        this.form = new ShoppingListTemplate();
        this.form.id = -1;
        this.loadingInProgress = false;
      } else {
        this.loadingInProgress = true;
        this.error = '';
        TemplateListRequest.SingleTemplateList(id).then((result) => {
          this.form = new ShoppingListTemplate(result);
          for (let i = 0; i < this.form.images.length; i += 1) {
            this.form.images[i].canRemove = true;
          }
          this.loadingInProgress = false;
        }).catch((error) => {
          this.error = error;
        });
      }
      this.$refs.singleTemplateModal.show();
    },
    close() {
      this.$refs.singleTemplateModal.hide();
    },
    onSubmit(event) {
      event.preventDefault();
      if (this.form.id !== -1) {
        // Update request
        TemplateListRequest.UpdateTemplateList(
          this.form.id,
          this.form.name,
          this.form.description,
          this.form.disabled,
          this.$refs.photoCarousel.getObjectsList(),
          this.$refs.categoriesSelector.getCategoriesArray(),
        );
      } else {
        // Add request
        TemplateListRequest.AddTemplateList(
          this.form.name,
          this.form.description,
          this.form.disabled,
          this.$refs.photoCarousel.getObjectsList(),
          this.$refs.categoriesSelector.getCategoriesArray(),
        );
      }
    },
    uploadStart() {
      this.uploadInProgress = true;
    },
    uploadEnd() {
      this.uploadInProgress = false;
    },
    onReset() {
    },
  },
  computed: {
    stateName() {
      return this.form.isValid(ShoppingListTemplate.NAME_FIELD_NAME).length <= 0;
    },
    invalidFeedbackName() {
      return this.form.isValid(ShoppingListTemplate.NAME_FIELD_NAME);
    },
    stateDescription() {
      return this.form.isValid(ShoppingListTemplate.DESCRIPTION_FIELD_NAME).length <= 0;
    },
    invalidFeedbackDescription() {
      return this.form.isValid(ShoppingListTemplate.DESCRIPTION_FIELD_NAME);
    },
  },
};
</script>
<style lang="scss">
  .photoCarousel {
    height: 20vh;
  }
</style>
