<template>
  <div v-if="isAuthenticate">
    <b-img v-for="sharing in sharedWith"
           v-bind:key="sharing.userEmail"
           :src="sharing.userImage"
           rounded="circle"
           height="40"
           blank-color="#777"
           class="m-1 border border-secondary"
           v-b-tooltip.hover
           :title="sharing.userEmail"
           @click="showForm(sharing)"></b-img>
    <b-img src="https://image.freepik.com/icone-gratis/segno-piu-in-uno-schema-circolare_318-36257.jpg"
           rounded="circle"
           height="40"
           blank-color="#777"
           class="m-1"
           v-b-tooltip.hover
           title="Aggiungi condivisione"
           @click="showForm('')"></b-img>
    <b-row>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <b-form @submit="onSubmit" v-if="showSharingForm" >
                <b-form-group id="exampleInputGroup1"
                              label="Email utente:"
                              label-for="exampleInput1">
                  <b-form-input id="userEmail"
                                type="text"
                                v-model="form.userEmail"
                                required
                                placeholder="Inserisci il nome utente">
                  </b-form-input>
                </b-form-group>
                <b-form-group label="Cosa può fare:">
                  <b-form-checkbox id="canEditListDetail"
                                   v-model="form.canEditListDetail">
                    Modificare i dettagli della lista
                  </b-form-checkbox>
                  <b-form-checkbox id="canDeleteElement"
                                   v-model="form.canDeleteElement">
                    Cancellare prodotti dalla lista
                  </b-form-checkbox>
                  <b-form-checkbox id="canAddElement"
                                   v-model="form.canAddElement">
                    Aggiungere prodotti alla lista
                  </b-form-checkbox>
                  <b-form-checkbox id="canDeleteList"
                                   v-model="form.canDeleteList">
                    Cancellare la lista
                  </b-form-checkbox>
                  <b-form-checkbox id="canEditElement"
                                   v-model="form.canEditElement">
                    Modificare i prodotti della lista
                  </b-form-checkbox>
                </b-form-group>
                <b-button type="submit" variant="primary">Condividi</b-button>
                <p v-if="isShared">Condivisione avvenuta con successo!</p>
              </b-form>
        </div>
        <div class="col1-sm-3">
        </div>
    </b-row>
  </div>
</template>
<script>
import SharingRequest from '../../api/Sharing';
import LogoutNotification from '../../../login/LogoutNotification';

export default {
  name: 'SharingList',
  data() {
    return {
      isAuthenticate: false,
      idShoppingList: -1,
      sharedWith: [],
      showSharingForm: false,
      isShared: false,
      form: {
        userEmail: '',
        canEditListDetail: false,
        canDeleteElement: false,
        canAddElement: false,
        canDeleteList: false,
        canEditElement: false,
      },
    };
  },
  mounted() {
    LogoutNotification.RegisterCallback(() => {
      this.isAuthenticate = false;
      this.idShoppingList = -1;
      this.sharedWith = [];
      this.showSharingForm = false;
      this.form.userEmail = '';
      this.form.canEditListDetail = false;
      this.form.canDeleteElement = false;
      this.form.canAddElement = false;
      this.form.canDeleteList = false;
      this.form.canEditElement = false;
    });
  },
  methods: {
    loadSharing(idShoppingList) {
      this.idShoppingList = idShoppingList;
      SharingRequest.GetSharing(idShoppingList).then((result) => {
        this.sharedWith = result;
        this.isAuthenticate = true;
        this.isShared = true;
        setTimeout(() => {
          this.isShared = false;
        }, 3000);
      }).catch((error) => {
        console.log(error);
        if (error.message === 'You can\'t execute requested operation') {
          this.isAuthenticate = false;
        }
      });
    },
    showForm(object) {
      if (object === '') {
        this.showSharingForm = false;
        this.$set(this.form, 'userEmail', '');
        this.$set(this.form, 'canEditListDetail', false);
        this.$set(this.form, 'canDeleteElement', false);
        this.$set(this.form, 'canAddElement', false);
        this.$set(this.form, 'canDeleteList', false);
        this.$set(this.form, 'canEditElement', false);
      } else {
        this.showSharingForm = false;
        this.$set(this.form, 'userEmail', object.userEmail);
        this.$set(this.form, 'canEditListDetail', object.canEditListDetail);
        this.$set(this.form, 'canDeleteElement', object.canDeleteElement);
        this.$set(this.form, 'canAddElement', object.canAddElement);
        this.$set(this.form, 'canDeleteList', object.canDeleteList);
        this.$set(this.form, 'canEditElement', object.canEditElement);
      }
      this.showSharingForm = true;
      this.$forceUpdate();
    },
    onSubmit(event) {
      event.preventDefault();
      SharingRequest.AddSharing(this.idShoppingList, this.form).then(() => {
        this.loadSharing(this.idShoppingList);
      });
    },
  },
};
</script>

<style lang="scss">
</style>
