<template>
  <div id="app">
      <NavigationBar>
          <ul class="navbar-nav">
            <li class="nav-item mb-2 mt-2">
                <span @click="gotoHomePage()" class="icon-left-open"></span>
            </li>
        </ul>
      </NavigationBar>
    <BodySection>
      <TemplatesList></TemplatesList>
    </BodySection>
    <FooterBar></FooterBar>
    <FooterBar></FooterBar>
  </div>
</template>

<script>
import NavigationBar from '../common/components/NavigationBar';
import FooterBar from '../common/components/FooterBar';
import BodySection from '../common/components/BodySection';
import TemplatesList from './components/TemplatesList';

export default {
  name: 'App',
  components: {
    TemplatesList, FooterBar, NavigationBar, BodySection,
  },
  methods: {
    gotoHomePage() {
      window.location.href = applicationParameter.contextURL.concat('/');
    },
  },
};
</script>

<style lang="scss">
  @import '../common/assets/common';
</style>
