//Custom variable
$enable-rounded: true;
$enable-shadows: true;

$navbar-default-bg:#3e476f;

$theme-colors: (
  "primary":#3e476f,
  "secondary":#f4e1a5,
  "danger": #d0172a,
  "white":#ffffff,
);
@import "~bootstrap/scss/bootstrap";
@import "./fontello/css/fontello";
@import "./fontello/css/animation";

$modal-backdrop-bg:#ffffff;

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-container {
  padding-bottom: 8rem;
  padding-top: 1rem;
}

#app {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

// Custom tabs style

.nav-item {
  margin: 0;
  padding: 0;
  border: 0;
  background-color:#E8E9EC;
  text-align: center;
}
.nav-link {
  border:0 !important;
  background-color:rgba(255,255,255,0);
  border-radius: 0 !important;
  padding: 20px 30px;
  color: #666;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #666;
}
.tab-content {
  padding: 0.5em;
}
.modal-body {
  padding: 0;
}
.nav-link.active {
  border:0;
  background-color: theme-color("primary") !important;
  color: #fff !important;
}


