<template>
    <div class="content">
        <b-alert v-if="isRefreshedDelete === true"
             :show="dismissCountDown"
             dismissible
             variant="success"
             @dismissed="dismissCountDown=0"
             @dismiss-count-down="countDownChanged">
            Lista cancellata con successo!
        </b-alert>
        <!--b-alert v-else show dismissible>Eliminazione fallita!</b-alert-->
        <b-alert v-if="isRefreshedUpdate === true"
            :show="dismissCountDown"
             dismissible
             variant="success"
             @dismissed="dismissCountDown=0"
             @dismiss-count-down="countDownChanged">
            Lista aggiornata con successo!
        </b-alert>
        <!--b-alert v-else show dismissible>Aggiornamento fallito!</b-alert-->
        <b-alert v-if="isRefreshedAdd === true"
            :show="dismissCountDown"
             dismissible
             variant="success"
             @dismissed="dismissCountDown=0"
             @dismiss-count-down="countDownChanged">
            Lista creata con successo!
        </b-alert>
        <br>
        <div class="col-md-12" align="right">
            <AddList v-on:refresh-on-add="refreshPageOnAdd"></AddList>
            <br>
        </div>
        <b-row>
            <div class="col-lg-4 col-md-6 col-sm-10"
                 v-for="(singleShoppingList, index) in shoppingLists"
                 v-bind:key="singleShoppingList.id">
                <ListElement ref="listElement"
                             v-on:select-element="selectElement(singleShoppingList, index)"
                             v-on:update-element="updateElement(singleShoppingList)"
                           :shoppinglist="singleShoppingList">
                </ListElement>
            </div>
        </b-row>
        <SingleList ref="singleList"
                    v-on:delete-element="refreshPageOnDelete"
                    v-on:refresh-products="refreshProductsPreview"></SingleList>
        <UpdateModal ref="updateModal"
                     v-on:refresh-on-update="refreshPageOnUpdate"
                     v-on:update-element="updateElement(selectShoppingList)"></UpdateModal>
    </div>
</template>

<script>
import AddList from './ListViewComponents/AddList';
import ListElement from './ListViewComponents/ListElement';
import SingleList from './SingleList';
import UpdateModal from './SingleListComponents/UpdateModal';
import AllShoppingLists from '../api/AllShoppingLists';
import CurrentList from '../api/CurrentList';

export default {
  name: 'ListView',
  components: { SingleList, AddList, ListElement, UpdateModal },
  mounted() {
    this.getAllShoppingLists();
  },
  data() {
    return {
      shoppingLists: [],
      isRefreshedDelete: false,
      isRefreshedUpdate: false,
      isRefreshedAdd: false,
      response: null,
      index: null,
      dismissSecs: 4,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  methods: {
    selectElement(selectShoppingList, index) {
      CurrentList.SetCurrentList(selectShoppingList.id).then((result) => {
        this.response = result;
        this.$refs.singleList.openModal(selectShoppingList);
        this.index = index;
      }).catch((error) => {
        console.log(error);
      });
    },
    updateElement(selectShoppingList) {
      this.$refs.updateModal.openModal(selectShoppingList);
    },
    getAllShoppingLists() {
      AllShoppingLists.GetAllShoppingLists().then((result) => {
        this.shoppingLists = result;
      }).catch((error) => {
        console.log(error);
      });
    },
    refreshPageOnDelete() {
      this.isRefreshedDelete = true;
      this.getAllShoppingLists();
      this.dismissCountDown = this.dismissSecs;
      this.isRefreshedAdd = false;
      this.isRefreshedUpdate = false;
    },
    refreshPageOnUpdate() {
      this.isRefreshedUpdate = true;
      this.getAllShoppingLists();
      this.dismissCountDown = this.dismissSecs;
      this.isRefreshedAdd = false;
      this.isRefreshedDelete = false;
    },
    refreshPageOnAdd() {
      this.isRefreshedAdd = true;
      this.getAllShoppingLists();
      this.dismissCountDown = this.dismissSecs;
      this.isRefreshedUpdate = false;
      this.isRefreshedDelete = false;
    },
    refreshProductsPreview() {
      this.$refs.listElement[this.index].getProductList();
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
  },
};
</script>

<style lang="scss">
.content {
}
</style>
