<template>
    <div>
        <b-modal ref="singleList" hide-footer size="lg">
            <PhotoCarousel :uploadSlideEnable="false" :maxNumberOfUpload="1" :images="images">
            </PhotoCarousel>
            <b-tabs>
                <b-tab title="Lista" active title-item-class="col">
                    <div class="tab-content">
                        <ListDetail ref="listDetail"
                                    v-on:refresh-products="getProductList"
                                    @reopen-modal="reOpenModal"></ListDetail>
                        <div class="row">
                            <div class="col-md-2">
                                <p></p>
                                <b-button v-if="this.can_delete_list === false" disabled>
                                    Cancella Lista
                                </b-button>
                                <b-button v-else @click="showModal">
                                    Cancella Lista
                                </b-button>
                            </div>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="Messaggi" title-item-class="col">
                    <div class="tab-content">
                        <MessagingList ref="messagingList"></MessagingList>
                    </div>
                </b-tab>
            </b-tabs>
        </b-modal>
        <br>
        <b-modal ref="deleteModal" hide-footer title="Delete Shopping List">
            <div class="w-100 p-3 bg-secondary">
                <div class="d-block text-center">
                    <h3>Sei sicuro/a?</h3>
                </div>
                <b-btn class="mt-3" variant="outline-danger" block
                       @click="deleteShoppingList">Elimina</b-btn>
                <b-btn class="mt-3" variant="outline-danger" block
                       @click="hideModal">Annulla</b-btn>
            </div>
        </b-modal>
    </div>
</template>

<script>
import ListDetail from './SingleListComponents/ListDetail';
import MessagingList from './SingleListComponents/MessagingView';
import AddProductInList from './SingleListComponents/AddProductInList';
import DeleteShoppingList from '../api/DeleteShoppingList';
import TemplateList from '../../common/api/TemplateList';
import PhotoCarousel from '../../common/components/PhotoCarousel';

export default {
  name: 'SingleList',
  components: { PhotoCarousel, MessagingList, ListDetail, AddProductInList },
  data() {
    return {
      successMessage: false,
      shoppinglist_id: null,
      template_id: null,
      can_delete_list: false,
      images: [],
    };
  },
  props: {
    shoppinglist: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    openModal(selectShoppingList) {
      this.can_delete_list = selectShoppingList.can_delete_list;
      this.$refs.singleList.show();
      this.$refs.listDetail.getAllProductList(selectShoppingList);
      this.$refs.listDetail.loadSharing(selectShoppingList);
      this.shoppinglist_id = selectShoppingList.id;
      this.template_id = selectShoppingList.templateId;
      this.getMessagingViewInfo();
      this.loadTemplateImages();
    },
    showModal() {
      this.$refs.deleteModal.show();
      // this.$refs.singleList.show();
    },
    hideModal() {
      this.$refs.deleteModal.hide();
    },
    deleteShoppingList() {
      DeleteShoppingList.DeleteShoppingList(this.shoppinglist_id).then((result) => {
        this.successMessage = result;
        this.$emit('delete-element');
      }).catch((error) => {
        console.log(error);
        this.successMessage = error;
      });
      this.hideModal();
    },
    getMessagingViewInfo() {
      this.$refs.messagingList.getMessageTemplateList();
      this.$refs.messagingList.getMessageList(this.shoppinglist_id);
      this.$refs.messagingList.getSenderList(this.shoppinglist_id);
      this.$refs.messagingList.getCurrentIdUser();
    },
    loadTemplateImages() {
      TemplateList.SingleTemplateList(this.template_id).then((result) => {
        this.successMessage = '';
        this.images = result.images;
      }).catch((error) => {
        console.log(error);
        this.successMessage = error;
      });
      this.hideModal();
    },
    getProductList() {
      this.$emit('refresh-products');
    },
    reOpenModal() {
      this.$refs.singleList.hide();
      this.$refs.singleList.show();
    },
  },
};
</script>

<style lang="scss">
</style>
