<template>
    <div>
        <div v-if="isLoading === true">
            <span class="icon-spin4"> ...elenco prodotti in caricamento</span>
        </div>
        <div v-if="isLoading === false">
          <v-autocomplete
            :items="items"
            :get-label="getLabel"
            :component-item="template"
            :keep-open="true"
            :auto-select-one-item="false"
            v-model="item"
            @change="updateItems"
            @item-clicked="addProductInListRequest"
            placeholder="Cerca un prodotto...">
          </v-autocomplete>
        </div>
        <span>{{message}}</span>
    </div>
</template>

<script>
import Autocomplete from 'v-autocomplete';
import ItemTemplate from './ItemTemplate';
import CatFromListRequest from '../../api/CatFromListRequest';
import ProductInListRequest from '../../api/ProductInListRequest';

export default {
  name: 'AddProductInList',
  components: { 'v-autocomplete': Autocomplete, ItemTemplate },
  data() {
    return {
      slId: 0,
      slName: '',
      slTemplateId: 0,
      slTemplateName: '',
      catIds: [],
      catNames: [],
      productTemplateIds: [],
      productTemplateNames: [],
      productTemplateCatIds: [],
      productTemplateCatNames: [],
      productIds: [],
      productNames: [],
      productCatIds: [],
      productCatNames: [],
      partial: '',
      items: [],
      item: null,
      alldbitems: [],
      template: ItemTemplate,
      isLoading: false,
      message: '',
    };
  },
  mounted() {
    this.GetCatListRequest(-1);
    this.items = this.alldbitems;
  },
  methods: {
    productInListRefresh(idList) {
      this.GetCatListRequest(idList);
      this.items = this.alldbitems;
    },
    getLabel(item) {
      if (item == null) {
        return null;
      }
      return item.name;
    },
    getItem(el) {
      return el.name.toLowerCase().indexOf(this.partial.toLowerCase()) > -1;
    },
    updateItems(text) {
      if (text == null) {
        this.items = this.alldbitems;
      }
      if (text != null) {
        this.partial = text;
        if (this.alldbitems != null) {
          this.items = this.alldbitems.filter(this.getItem);
        }
      }
    },
    addProductInListRequest() {
      this.message = '';
      const requestBody = {
        shoppinglistId: this.slId,
        productId: this.item.id,
      };
      ProductInListRequest.Add(requestBody).then((addResult) => {
        this.message = addResult.message;
        if (this.message === 'OK') {
          this.message = '';
        }
        this.item = '';
        this.$emit('refreshProductList');
        this.$emit('refreshfirstproducts');
      }).catch((addError) => {
        this.message = addError.message;
      });
      return null;
    },
    GetCatListRequest(shoppinglistId) {
      this.message = '';
      this.isLoading = true;
      this.alldbitems = [];
      this.slId = shoppinglistId;
      CatFromListRequest.GetCatList(this.slId).then((result) => {
        this.message = result.message;
        if (this.message === 'OK') {
          this.message = '';
        }
        this.slId = result.slId;
        this.slName = result.slName;
        this.slTemplateId = result.slTemplateId;
        this.slTemplateName = result.slTemplateName;
        this.catIds = result.catIds;
        this.catNames = result.catNames;
        this.productTemplateIds = result.productTemplateIds;
        this.productTemplateNames = result.productTemplateNames;
        this.productTemplateCatIds = result.productTemplateCatIds;
        this.productTemplateCatNames = result.productTemplateCatNames;
        this.productIds = result.productIds;
        this.productNames = result.productNames;
        this.productCatIds = result.productCatIds;
        this.productCatNames = result.productCatNames;
        this.alldbitems = result.items;
        this.isLoading = false;
      }).catch((error) => {
        this.message = error.message;
        this.isLoading = false;
      });
      return null;
    },
  },
};
</script>

<style lang="scss">
.v-autocomplete .v-autocomplete-input-group .v-autocomplete-input {
  font-size: 1.5em;
  padding: 10px 15px;
  box-shadow: none;
  border: 1px solid #157977;
  width: calc(100% - 32px);
  outline: none;
  background-color: #eee;
}

.v-autocomplete .v-autocomplete-input-group.v-autocomplete-selected .v-autocomplete-input {
  color: #008000;
  background-color: #f2fff2;
}

.v-autocomplete .v-autocomplete-list {
  width: 100%;
  text-align: left;
  border: none;
  border-top: none;
  max-height: 400px;
  overflow-y: auto;
  border-bottom: 1px solid #157977;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #157977;
  border-left: 1px solid #157977;
  border-right: 1px solid #157977;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:last-child {
  border-bottom: none;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:hover {
  background-color: #eee;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item abbr {
  opacity: 0.8;
  font-size: 0.8em;
  display: block;
  font-family: sans-serif;
}
</style>
