<template>
  <div>
      <b>{{item.cat}}</b>
      <span>{{ item.name }}</span>
      <br>
      <small><i>{{item.description}}</i></small>
  </div>
</template>

<script>
import PhotoCarousel from '../../../common/components/PhotoCarousel';

export default {
  components: { PhotoCarousel },
  props: {
    item: { required: true },
    searchText: { required: true },
  },
};
</script>

<style lang="scss">

</style>
