<template>
  <div>
      <b-dropdown id="orderMenu" text="Ordina per" variant="primary" class="md-d-2">
        <b-dropdown-item @click="OrderByCategory">Categoria</b-dropdown-item>
        <b-dropdown-item @click="OrderByAlphabet">Ordine alfabetico</b-dropdown-item>
      </b-dropdown>
      <p></p>
      <b-list-group>
        <b-list-group-item ref="listDetail"
                         v-bind:key="product.id"
                         v-for="(product, index) in allProductList">
            <div class="row align-items-center">
                <div class="col-md-4 col-xs-4">
                    <div class="product-element-img text-center">
                        <PhotoCarousel ref="photoCarousel"
                          :uploadSlideEnable="true"
                          :singleImage="true"
                          :images="product.image"
                          @uploadEnd="updateProductImage(product, index)" />
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <h4 style="padding-bottom: 5px;">{{product.catName}}</h4>
                  <h5 style="padding-bottom: 5px;">{{product.name}}</h5>
                  <i>{{product.note}}</i>
                </div>
                <div class="col-md-auto col-xs-auto" v-if="can_edit_element === true">
                  <div style="width:  2.33%" @click="changeProduct(product, index)"
                       class="icon-pencil">
                  </div>
                </div>
                <div class="col-md-auto col-xs-auto" v-if="can_delete_element === true">
                  <div style="width:  2.33%" @click="removeProduct(product)"
                       class="icon-cancel-squared">
                  </div>
                </div>
            </div>
        </b-list-group-item>
       </b-list-group>
   <br>
    <AddProductInList
        ref="AddProductInList"
        v-if="can_add_element === true"
        v-on:refreshfirstproducts="getProductList"
        @refreshProductList="getAllProductCurrentList()">
    </AddProductInList>
   <SharingList ref="sharingList"></SharingList>
   <Template></Template>
    <b-modal ref="changeProduct" title="Personalizza il prodotto"
             hide-footer>
        <div class="row">
            <div class="col-md-2 col-xs-2">
            </div>
            <div class="col-md-8 col-xs-8">
                <b-form-group class="text-left"
                                id="productname"
                                label="Nome:"
                                label-for="product_name">
                    <b-form-input id="product_name"
                                 type="text"
                                 v-model="actName"
                                 v-bind="actName"
                                 placeholder="Nome del prodotto"
                                 required>
                    </b-form-input>
                 </b-form-group>
                <b-form-group class="text-left"
                                id="productnote"
                                label="Nota:"
                                label-for="product_note">
                    <b-form-input id="product_note"
                                 type="text"
                                 v-model="actNote"
                                 v-bind="actNote"
                                 placeholder="Nota sul prodotto"
                                 required>
                    </b-form-input>
                 </b-form-group>
                <span class="icon-heart-empty"
                          v-b-tooltip.hover
                          title="Aggiorna il prodotto"
                          @click="modHeart()" />
                <span class="icon-trash-empty"
                      v-b-tooltip.hover
                      title="Annulla"
                      @click="modTrash()" />
            </div>
            <div class="col-md-2 col-xs-2">
            </div>
        </div>
    </b-modal>
  </div>
</template>

<script>
import PhotoCarousel from '../../../common/components/PhotoCarousel';
import AllProductList from '../../api/AllProductList';
import ProductListOrderedByA from '../../api/ProductListOrderedByA';
import ProductListOrderedByCat from '../../api/ProductListOrderedByCat';
import ProductInListRequest from '../../api/ProductInListRequest';
import ProductImageRequest from '../../api/ProductImageRequest';
import ProductNameNoteUpdateRequest from '../../api/ProductNameNoteUpdateRequest';
import AddProductInList from './AddProductInList';
import SharingList from '../SharingComponents/SharingList';

export default {
  name: 'ListDetail',
  components: { PhotoCarousel, AddProductInList, SharingList },
  data() {
    return {
      allProductList: [],
      shoppinglistId: null,
      message: '',
      neverShow: false,
      isClicked: false,
      can_delete_element: false,
      can_add_element: false,
      can_edit_element: false,
      actIndex: 0,
      actId: 0,
      actName: '',
      actNote: '',
    };
  },
  props: {
    shoppinglist: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    getAllProductList(selectShoppingList) {
      AllProductList.GetAllProductList(selectShoppingList.id).then((result) => {
        this.allProductList = result;
        this.shoppinglistId = selectShoppingList.id;
        this.can_delete_element = selectShoppingList.can_delete_element;
        this.can_add_element = selectShoppingList.can_add_element;
        this.can_edit_element = selectShoppingList.can_edit_element;
        this.$refs.AddProductInList.productInListRefresh(selectShoppingList.id);
      }).catch((error) => {
        console.log(error);
      });
    },
    getAllProductCurrentList() {
      AllProductList.GetAllProductList(this.shoppinglistId).then((result) => {
        this.allProductList = result;
      }).catch((error) => {
        console.log(error);
      });
    },
    OrderByCategory() {
      ProductListOrderedByCat.GetProductListOrderedByCat(this.shoppinglistId).then((result) => {
        this.allProductList = result;
        this.isClicked = true;
      }).catch((error) => {
        console.log(error);
      });
    },
    OrderByAlphabet() {
      ProductListOrderedByA.GetProductListOrderedByA(this.shoppinglistId).then((result) => {
        this.allProductList = result;
      }).catch((error) => {
        console.log(error);
      });
    },
    removeProduct(product) {
      const requestBody = {
        shoppinglistId: this.shoppinglistId,
        productId: product.idProduct,
      };
      ProductInListRequest.Remove(requestBody).then((removeResult) => {
        this.message = removeResult.message;
        this.getAllProductCurrentList();
        this.getProductList();
      }).catch((removeError) => {
        this.message = removeError.message;
      });
    },
    getProductList() {
      this.$emit('refresh-products');
    },
    loadSharing(selectShoppingList) {
      this.$refs.sharingList.loadSharing(selectShoppingList.id);
    },
    updateProductImage(product, index) {
      const body = { idProduct: product.idProduct,
        avatar: this.$refs.photoCarousel[index].getSelectImage() };
      ProductImageRequest.Update(body).then((result) => {
        this.message = result.message;
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
    changeProduct(product, index) {
      this.actIndex = index;
      this.actId = product.idProduct;
      this.actName = product.name;
      this.actNote = product.note;
      this.$emit('reopen-modal');
      this.$refs.changeProduct.show();
    },
    modHeart() {
      this.$refs.changeProduct.hide();
      this.allProductList[this.actIndex].name = this.actName;
      this.allProductList[this.actIndex].note = this.actNote;
      const body = { idProduct: this.actId,
        name: this.actName,
        note: this.actNote };
      ProductNameNoteUpdateRequest.Update(body).then((result) => {
        this.message = result.message;
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
    modTrash() {
      this.$refs.changeProduct.hide();
    },
    hideModal() {
      // evt.stopPropagation();
      this.$emit('reopen-modal');
    },
  },
};
</script>

<style lang="scss">
    .product-element-img {
            vertical-align: middle;
            text-align: center;
            padding: 5px;
    }
    .product-element-img > ._16-9-container {
            display: inline;
    }
    .product-element-img > ._16-9-container > div {
            display: inline-block;
    }
    .editProduct {
            width: 450px;
    }
</style>
