<template>
  <form id="messages-list" action="#" method="post" role="form">
      <div v-if="!isAuthenticated" class="text-center">
          <h3>Per utilizzare la messaggistica devi registrarti!</h3>
      </div>
      <div v-else>
        <div class="conversation" ref="conversation">
              <div class="message-line"
                         v-bind:key="sender + message"
                         v-for="(sender, message) in senderList">
                  <div v-bind:class="{'message':currentIdUser.id
                       !== messageList[message].userSender,
                       'messagesender':currentIdUser.id === messageList[message].userSender}">
                      <span v-if="currentIdUser.id !== messageList[message].userSender">
                        <strong>{{sender.name}}</strong><br>
                      </span>
                      {{messageList[message].messagetemplate}}
                  </div>
              </div>
              <div class="message-line"
                   v-bind:key="message.messagetemplate"
                   v-for="message in messages">
                <div v-bind:class="{'messagesender':message.currentUser,
                     'message':!message.currentUser}">
                    <span v-if="!message.currentUser">
                        <strong>{{message.currentUserName}}</strong><br>
                    </span>
                    {{message.msg.messagetemplate}}
                </div>
              </div>
        </div>
      <br>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <b-dropdown id="ddown1" text="Invia Messaggio" variant="primary" class="md-d-2">
              <b-dropdown-item v-bind:key="msg.messagetemplate"
                               v-for="msg in messageTemplateList"
                               @click="messageClick(msg.messagetemplate)">{{msg.messagetemplate}}
              </b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import Vue from 'vue';
import Messaging from '../../api/messaging';
import MessageTemplateList from '../../api/MessageTemplateList';
import MessageList from '../../api/MessageList';
import SenderList from '../../api/SenderList';
import LoginNotification from '../../../login/LoginNotification';
import LogoutNotification from '../../../login/LogoutNotification';
import CurrentIdUser from '../../api/CurrentIdUser';

export default {
  name: 'MessagingList',
  props: {
    shoppinglistid: {
      type: Number,
      default: -1,
    },
  },
  mounted() {
    LoginNotification.RegisterCallback(() => {
      Messaging.WebSocketClose();
      console.log('Websocket connection close');
      Messaging.WebSocketInit(this.onMessage, this.onClose, this.onWebsocketOpen);
      this.isAuthenticated = true;
      this.getCurrentIdUser();
    });
    LogoutNotification.RegisterCallback(() => {
      Messaging.WebSocketClose();
      console.log('Websocket connection close');
      Messaging.WebSocketInit(this.onMessage, this.onClose, this.onWebsocketOpen);
      this.isAuthenticated = false;
    });
    Messaging.WebSocketInit(this.onMessage, this.onClose, this.onWebsocketOpen);
  },
  data() {
    return {
      loginActive: true,
      isAuthenticated: true,
      messageTemplateList: [],
      messages: [],
      messageList: [],
      lastMessage: 0,
      senderList: [],
      shoppinglist_id: -1,
      socketIsClose: true,
      currentIdUser: null,
    };
  },
  methods: {
    onMessage(message) {
      if (this.shoppinglist_id === message.idList) {
        this.messages.push(message);
        console.log(this.messages);
        Vue.nextTick(() => {
          this.$refs.conversation.scrollTop = this.$refs.conversation.scrollHeight;
        });
      }
    },
    onClose() {
      this.socketIsClose = true;
    },
    onWebsocketOpen() {
      this.socketIsClose = false;
    },
    messageClick(message) {
      Messaging.SendMessage(message, this.shoppinglist_id);
    },
    getMessageTemplateList() {
      MessageTemplateList.GetMessageTemplateList().then((result) => {
        this.messageTemplateList = result;
      }).catch((error) => {
        console.log(error);
        if (error.message === 'You can\'t execute requested operation') {
          this.isAuthenticated = false;
        }
      });
    },
    getMessageList(id) {
      this.messages = [];
      this.shoppinglist_id = id;
      MessageList.GetMessageList(id).then((result) => {
        this.messageList = result;
      }).catch((error) => {
        console.log(error);
      });
    },
    getSenderList(id) {
      SenderList.GetSenderList(id).then((result) => {
        this.senderList = result;
      }).catch((error) => {
        console.log(error);
      });
    },
    getCurrentIdUser() {
      CurrentIdUser.GetCurrentIdUser().then((result) => {
        this.currentIdUser = result;
      }).catch((error) => {
        console.log(error);
      });
    },
  },
};

</script>

<style lang="scss">
.conversation{
  display:block;
  width:100%;
  height:310px;
  overflow:auto;
  background-color:#eee;
}

.message-line{
  position:relative;
  display:block;
  width:100%;
  min-height:70px;
}

.message{
  display:block;
  float:left;
  max-width:80%;
  padding:5px 10px;
  margin:5px;
  color:#fff;
  background-color:#00724c;
  border-radius:10px;
}

.messagesender{
  display:block;
  float:right;
  max-width:80%;
  padding:5px 10px;
  margin:5px;
  color:#fff;
  background-color:#009925;
  border-radius:10px;
}
</style>
