<template>
  <div>
    <b-modal id="updateshoppinglist" title="Aggiorna Lista della Spesa"
                ref="updateShoppingListModal"
                @ok="onSubmit"
                @cancel="onReset"
                cancel-variant="danger"
                cancel-title="Reset"
                :visible="openModal">
        <PhotoCarousel ref="photoCarousel"
                           uploadSlideEnable :images="allTemplateImages"></PhotoCarousel>
        <div class="w-100 p-3">
            <b-form @submit.stop.prevent="onSubmit"
                    @reset.stop.prevent="onReset">
              <b-form-group id="shoppinglistname"
                           label="Nome:"
                           label-for="shoppinglist_name"
                           :invalid-feedback="invalidFeedbackName"
                           :state="stateName">
                <b-form-input id="shoppinglist_name"
                              type="text"
                              v-model="form.name"
                              placeholder="Inserire il nuovo nome"
                              required>
                </b-form-input>
              </b-form-group>
              <b-form-group id="shoppinglistdescription"
                            label="Descrizione:"
                            label-for="shoppinglist_description"
                            :invalid-feedback="invalidFeedbackDescription"
                            :state="stateDescription">
                <b-form-input id="shoppinglist_description"
                              type="text"
                              v-model="form.description"
                              placeholder ="Inserire la nuova descrizione"
                              required>
                </b-form-input>
             </b-form-group>
             <br><br>
            </b-form>
        </div>
    </b-modal>
  </div>
</template>

<script>
import ShoppingListInfo from '../../api/ShoppingListInfo';
import UpdateShoppingList from '../../api/UpdateShoppingList';
import PhotoCarousel from '../../../common/components/PhotoCarousel';
import TemplateList from '../../../common/api/TemplateList';

export default {
  name: 'UpdateModal',
  components: { PhotoCarousel },
  data() {
    return {
      shoppingListInfo: [],
      successMessage: false,
      form: {
        name: '',
        description: '',
        image: null,
      },
      allTemplateImages: [],
      templateId: null,
      id: null,
    };
  },
  methods: {
    openModal(selectShoppingList) {
      this.getShoppingListInfo(selectShoppingList.id);
      this.id = selectShoppingList.id;
      this.$refs.updateShoppingListModal.show();
    },
    getShoppingListInfo(id) {
      ShoppingListInfo.GetShoppingListInfo(id).then((result) => {
        this.shoppingListInfo = result;
        this.form.name = this.shoppingListInfo.name;
        this.form.description = this.shoppingListInfo.description;
        this.form.image = this.shoppingListInfo.image;
        this.templateId = this.shoppingListInfo.templateId;
        this.loadImage();
      }).catch((error) => {
        console.log(error);
      });
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.form.image = this.$refs.photoCarousel.getSelectImage();
      UpdateShoppingList.UpdateShoppingList(this.id, this.form.name,
        this.form.description, this.form.image, this.templateId).then((result) => {
        this.successMessage = result;
        this.$refs.updateShoppingListModal.hide();
        console.log(this.successMessage);
        if (this.successMessage === true) {
          this.refresh();
        }
      }).catch((error) => {
        console.log(error);
      });
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.name = '';
      this.form.description = '';
      this.form.image = null;
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true; });
    },
    loadImage() {
      console.log(this.templateId);
      TemplateList.SingleTemplateList(this.templateId).then((result) => {
        this.allTemplateImages = result.images;
      });
      this.allTemplateImages.push(this.form.image);
    },
    refresh() {
      this.$emit('refresh-on-update');
    },
    isValid(fieldName) {
      if (fieldName === 'DESCRIPTION' || fieldName === undefined) {
        if (this.form.description == null) {
          return 'Description can\'t be null';
        }
        if (this.form.description.length <= 0) {
          return 'Il campo non può essere vuoto';
        }
      }
      if (fieldName === 'NAME' || fieldName === undefined) {
        if (this.form.name == null) {
          return 'Description can\'t be null';
        }
        if (this.form.name.length <= 0) {
          return 'Il campo non può essere vuoto';
        }
      }
      if (fieldName === undefined) {
        if (this.form.image == null) {
          return 'Image can\'t be null';
        }
      }
      return '';
    },
  },
  computed: {
    stateName() {
      return this.isValid('NAME').length <= 0;
    },
    invalidFeedbackName() {
      return this.isValid('NAME');
    },
    stateDescription() {
      return this.isValid('DESCRIPTION').length <= 0;
    },
    invalidFeedbackDescription() {
      return this.isValid('DESCRIPTION');
    },
  },
};
</script>

<style lang="scss">

</style>
