<?xml version="1.0" encoding="ISO-8859-1" ?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
  version="2.0">

  <tlib-version>2.0</tlib-version>
  <short-name>webp</short-name>

  <uri>/WEB-INF/tlds/webpack.tld</uri>
  <tag>
    <name>ManifestResource</name>
    <tag-class>com.soapandtherest.shoppinglist.tld.webpack.ManifestTag</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>filename</name>
      <required>true</required>
    </attribute>
  </tag>
  <tag>
    <name>ApplicationParameter</name>
    <tag-class>com.soapandtherest.shoppinglist.tld.ApplicationParameterTag</tag-class>
    <body-content>empty</body-content>
  </tag>
</taglib>
