<template>
  <!-- Page Content -->
  <div class="container footer-spacer">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'BodySection',
};
</script>
<style lang="scss">
.footer-spacer {
  padding-bottom: 8rem;
}
</style>
