<template>
  <!-- Footer -->
  <footer class="py-5 bg-primary">
    <div class="container">
      <p class="m-0 text-center text-white">
        Made with <span class="icon icon-heart-empty text-danger"></span> by SOAP&TheREST
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterBar',
};
</script>

<style lang="scss">

</style>
