<template>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../assets/img/JustShop_sfondo_bianco.png"
                                              alt="JustShop logo" class="logo">{{title}}</a>
      <slot></slot>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavigationBar',
  data() {
    return {
      title: 'JustShop',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.logo {
  width: 2.5rem;
  margin-right: 5px;
}
</style>
