<template>
  <div class="_16-9-container">
    <b-carousel controls
                indicators
                background="#ababab"
                :interval="0"
                v-model="slide"
                v-if="!singleImage"
                class="w-100 h-100 carousel-container">
      <!-- Slides -->
      <b-carousel-slide v-bind:key="image.url" v-for="image in images" class="uploaded-image">
        <img slot="img" class="d-block mw-100 mh-100 mx-auto"
             :src="image.url">
        <span v-if="image.canRemove" @click="removeImage(image)" class="icon-trash-empty"></span>
      </b-carousel-slide>
      <!-- Upload in progress slide -->
      <div v-bind:key="upload.fileReader.result" v-for="upload in imageInUpload">
        <b-carousel-slide v-if="upload.error">
          <img slot="img" class="d-block w-100 h-100 mx-auto"
               src="../assets/img/UploadError.svg">
          <h3 class="text-danger">Error: {{ upload.error }}</h3>
        </b-carousel-slide>
        <b-carousel-slide v-if="!(upload.error)" :img-src="upload.fileReader.result"
                          class="image-upload" background="#000">
          <p>Caricamento...</p>
          <b-progress :value="upload.progress" :max="100" class="mb-3"></b-progress>
        </b-carousel-slide>
      </div>
      <!-- New Upload slide -->
      <b-carousel-slide v-if="uploadSlideEnable" img-blank @click.native="uploadPhoto"
                        class="w-100 h-100">
        <p>Carica immagine</p>
      </b-carousel-slide>
    </b-carousel>
    <div v-if="singleImage">
      <div class="image-upload">
        <b-img v-if="thereAreImages" :src="images[0].url" fluid-grow></b-img>
        <b-img v-else :src="imageInUpload[0].fileReader.result" fluid-grow>
        </b-img>
      </div>
      <div v-if="uploadSlideEnable">
        <b-button v-if="thereAreImages" @click="uploadPhoto"
                  variant="primary" class="btn-block">
          Carica immagine
        </b-button>
        <b-progress v-else :value="imageInUpload[0].progress" :max="100" class="mb-3"></b-progress>
      </div>
    </div>
    <input ref="uploadInput" type="file" class="d-none" @change="changeUploadView"
           accept="image/*">
  </div>
</template>

<script>
import FileUpload from '../api/FileUpload';

export default {
  name: 'PhotoCarousel',
  data() {
    return {
      slide: 0,
      fileToUpload: true,
      imageInUpload: [],
    };
  },
  props: {
    uploadSlideEnable: {
      type: Boolean,
      default: false,
    },
    maxNumberOfUpload: {
      type: Number,
      default: 0,
    },
    images: {
      type: Array,
      default: () => [],
    },
    singleImage: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    uploadPhoto() {
      this.$refs.uploadInput.click();
    },
    changeUploadView() {
      const file = this.$refs.uploadInput.files[0];
      const fileReader = new FileReader();
      fileReader.onload = (event) => {
        this.fileLoaded(event, file);
      };
      fileReader.readAsDataURL(file);
    },
    fileLoaded(event, file) {
      // Test valid file name
      if (this.finishUploading()) {
        this.$emit('uploadStart');
      }
      if (file.size >= 1048576) {
        this.imageInUpload.push({
          fileReader: event.target,
          error: 'File troppo grande',
        });
        return;
      }
      if (this.singleImage) {
        this.images = [];
        this.imageInUpload = [];
      }
      const imageToUpload = {
        fileReader: event.target,
        progress: 0,
      };
      this.imageInUpload.push(imageToUpload);
      FileUpload.UploadUrl(file, (eventProgress) => {
        if (eventProgress.lengthComputable) {
          imageToUpload.progress = (eventProgress.loaded / eventProgress.total) * 100;
        } else {
          imageToUpload.progress = 0;
        }
      }).then((result) => {
        imageToUpload.progress = 100;
        const image = {
          objectKey: result.objectKey,
          url: imageToUpload.fileReader.result,
          canRemove: true,
        };
        this.images.push(image);
        const indexToRemove = this.imageInUpload.indexOf(imageToUpload);
        if (indexToRemove !== -1) {
          this.imageInUpload.splice(indexToRemove, 1);
        }
        if (this.finishUploading()) {
          this.$emit('uploadEnd');
        }
      }).catch(() => {
        imageToUpload.error = 'Errore durante il caricamento';
        if (this.finishUploading()) {
          this.$emit('uploadEnd');
        }
      });
    },
    finishUploading() {
      let errorCounter = 0;
      for (let i = 0; i < this.imageInUpload.length; i += 1) {
        if (this.imageInUpload[i].error) {
          errorCounter += 1;
        }
      }
      return errorCounter === this.imageInUpload.length;
    },
    removeImage(image) {
      const indexToRemove = this.images.indexOf(image);
      if (indexToRemove !== -1) {
        this.images.splice(indexToRemove, 1);
      }
    },
    /*
     * Get the list object to upload
     */
    getObjectsList() {
      return this.images.map(x => ({
        objectKey: x.objectKey,
      }));
    },
    /*
     * Get the element select into the carousel
     * @return null if isn't a valid element
     */
    getSelectImage() {
      return this.images.length > this.slide ?
        { objectKey: this.images[this.slide].objectKey } : null;
    },
    thereAreImages() {
      return ((this.images != null) && (this.images.length() !== 0));
    },
  },
};
</script>

<style lang="scss">
  .image-upload > img {
    opacity: 0.7;
  }

  div.image-upload {
    background-color: #000000;
  }

  .uploaded-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    .carousel-caption {
      right: 0;
      left: 0;
      top: 0;
      .icon-trash-empty {
        position: absolute;
        top: 2%;
        right: 15%;
        font-size: 200%;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  ._16-9-container {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
  }

  .carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    .carousel-inner {
      width: 100%;
      height: 100%;
    }
  }
</style>
