<template>
  <b-modal ref="anagModal" hide-footer hide-header>
    <b-tabs>
      <b-tab title="Scheda utente" active title-item-class="col">
        <div class="tab-content">
            <div class="row align-items-center">
                <div class="col-md-4 col-xs-4">
                   <div v-if="avatar.length !== 0"
                        class="product-element-img" style="padding: 10px;">
                        <PhotoCarousel ref="photoCarousel"
                          :uploadSlideEnable="true"
                          :singleImage="true"
                          :images="avatar"
                          @uploadEnd="updateUserImage" />
                   </div>
                </div>
                <div class="col-md-8 col-xs-8">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <span class="font-weight-bold">&nbsp;&nbsp;
                                Nome:</span> {{ name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-xs-8">
                            <span class="font-weight-bold">&nbsp;&nbsp;
                                Cognome:</span> {{ surname }}
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <span class="font-weight-bold">Email:</span> {{ email }}
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <input type="checkbox" v-model="ricordami"
                                       disabled="true" />Ricordami
                            </div>
                            <div class="col-md-10 col-xs-10">
                                <input type="checkbox" v-model="ammin"
                                       disabled="true" />Amministratore
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-8">
                    <a href="static/InformativaTrattamentoDati.pdf" target="_blank">
                                Vedi 'Informativa privacy'</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-8">
                    <a href="static/EULA.pdf" target="_blank">
                                Vedi 'Condizioni d'uso'</a>
                </div>
            </div>
            <div v-if="ammin" class="row align-items-center">
                <br>
                <div class="col-md-5 col-xs-5">
                    Nuovo amministratore
                </div>
                <div class="col-md-5 col-xs-5">
                    <input type="email" v-model="newAdminEmail"
                               placeholder="Email" class="form-control input-sm" />
                </div>
                <div class="col-md-auto col-xs-auto">
                    <span @click="addAdminGrants()" class="icon-plus"></span>
                    <span @click="removeAdminGrants()" class="icon-cancel-squared">
                    </span>
                    <span>{{message}}</span>
                </div>
            </div>
            <br>
            <button type="button" name="btnChiudiAnag"
            class="btn btn-lg btn-secondary btn-block"
            @click="anagFatto()">Chiudi</button>
        </div>
      </b-tab>
    </b-tabs>
  </b-modal>
</template>

<script>
import AdminGrantsRequest from '../api/AdminGrantsRequest';
import UserImageRequest from '../api/UserImageRequest';
import PhotoCarousel from '../../common/components/PhotoCarousel';

export default {
  name: 'Anag',
  components: { PhotoCarousel },
  data() {
    return {
      name: '',
      surname: '',
      email: '',
      ammin: false,
      avatar: [],
      ricordami: false,
      newAdminEmail: '',
      message: '',
      image: {
        objectKey: 'userNotComplete',
        url: 'static/SOAPandTheREST_logo.png',
        canRemove: false,
      },
      images: [],
    };
  },
  mounted() {
    this.images = [this.image];
  },
  methods: {
    apriAnag(dati) {
      this.name = dati.name;
      this.surname = dati.surname;
      this.email = dati.email;
      this.avatar = dati.avatar;
      this.ricordami = (dati.remember === 'Y');
      this.ammin = (dati.admin === 'Y');
      this.newAdminEmail = '';
      this.message = '';
      const image = {
        objectKey: 'userNotComplete',
        url: 'static/SOAPandTheREST_logo.png',
        canRemove: false,
      };
      this.image = image;
      this.$refs.anagModal.show();
    },
    chiudiAnag() {
      this.$refs.anagModal.hide();
    },
    anagFatto() {
      this.$emit('anagComplete');
      this.$refs.anagModal.hide();
    },
    addAdminGrants() {
      const body = { email: this.newAdminEmail };
      AdminGrantsRequest.AddAdminGrants(body).then((result) => {
        this.message = result.message;
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
    removeAdminGrants() {
      const body = { email: this.newAdminEmail };
      AdminGrantsRequest.RemoveAdminGrants(body).then((result) => {
        this.message = result.message;
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
    updateUserImage() {
      const body = { avatar: this.$refs.photoCarousel.getSelectImage() };
      UserImageRequest.Update(body).then((result) => {
        this.message = result.message;
        this.$emit('anagReload');
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
  },
};
</script>

<style lang="scss">
    .product-element-img {
            vertical-align: middle;
            width: 170px;
    }
    .product-element-img > ._16-9-container {
            display: inline;
    }
</style>
