<template>
  <b-modal ref="bannerModal" hide-footer hide-header>
      <b>Informativa sui cookie</b><br>
Questo sito fa uso di cookie per migliorare l’esperienza di navigazione degli utenti
e per raccogliere informazioni sull’utilizzo del sito stesso.
Utilizziamo sia cookie tecnici sia cookie di profilazione.
Proseguendo nella navigazione si accetta l’uso dei cookie;
in caso contrario è possibile abbandonare il sito.
          <button type="button" name="btnChiudiBanner"
          class="btn btn-lg btn-secondary btn-block"
          @click="bannerLetto()">Ho letto</button>
  </b-modal>
</template>

<script>
import BannerRequest from '../api/BannerRequest';

export default {
  name: 'Banner',
  data() {
    return {
      message: '',
    };
  },
  methods: {
    AcceptRequest() {
      BannerRequest.Accept().then((result) => {
        this.message = result.message;
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
    apriBan() {
      this.$refs.bannerModal.show();
    },
    chiudiBanner() {
      this.$refs.bannerModal.hide();
    },
    bannerLetto() {
      this.AcceptRequest();
      this.$emit('bannerComplete');
      this.$refs.bannerModal.hide();
    },
  },
};
</script>

<style lang="scss">
</style>
