<template>
      <div class="container">
        <div class="row" id="pwd-container">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br/>
            <section class="login-form">
              <form method="post" action="#" role="login">
                <input type="email" v-model="email"
                       placeholder="Email" required
                       autocomplete="email"
                       class="form-control input-lg" />
                <button type="button" name="btninvia"
                        class="btn btn-lg btn-primary btn-block"
                        @click="forgottenRequest()">Invia</button>
              </form>
            </section>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
</template>

<script>
import ForgottenRequest from '../api/ForgottenRequest';

export default {
  name: 'Forgotten',
  data() {
    return {
      message: '',
      email: '',
    };
  },
  methods: {
    forgottenRequest() {
      const body = { email: this.email };
      ForgottenRequest.SendEmail(body).then((result) => {
        this.message = result.message;
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
    hide() {
      this.email = '';
    },
  },
};
</script>

<style lang="scss">
</style>
