<template>
  <b-modal ref="signInOn" hide-footer size="lg"
           @hide="hideModal"
           hide-header>
    <b-tabs>
      <b-tab title="Accedi" active title-item-class="col">
        <div class="tab-content">
          <SignIn ref="signIn"
                  id="SignIn" @loginComplete="loginFatto" @signInComplete="chiudiSignInOn"></SignIn>
        </div>
      </b-tab>
      <b-tab title="Registrati" title-item-class="col">
        <div class="tab-content">
          <SignOn ref="signOn"
                  id="SignOn" @signOnComplete="chiudiSignInOn"></SignOn>
       </div>
      </b-tab>
      <b-tab title="Password dimenticata" title-item-class="col">
        <div class="tab-content">
          <Forgotten ref="forgotten" id="Forgotten"></Forgotten>
       </div>
      </b-tab>
    </b-tabs>
  </b-modal>
</template>

<script>
import SignIn from './SignIn';
import SignOn from './SignOn';
import Forgotten from './Forgotten';

export default {
  name: 'Login',
  components: { SignIn, SignOn, Forgotten },
  methods: {
    apriSignInOn() {
      this.$refs.signInOn.show();
    },
    chiudiSignInOn() {
      this.$refs.signInOn.hide();
    },
    loginFatto(result) {
      this.$emit('loginComplete', result);
      this.$refs.signInOn.hide();
    },
    hideModal() {
      this.$refs.signIn.hide();
      this.$refs.signOn.hide();
      this.$refs.forgotten.hide();
    },
  },
};
</script>

<style lang="scss">
</style>
