<template>
    <div class="container">
        <div class="row" id="pwd-container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <br/>
                <section class="login-form">
                    <form method="post" action="#" role="login">
                        <input type="email" v-model="email"
                               placeholder="Email" required
                               autocomplete="email"
                               class="form-control input-lg" />
                        <input type="password" v-model="password"
                               placeholder="Password" required
                               autocomplete="current-password"
                               class="form-control input-lg" />
                        <input id="RememberMe"
                               type="checkbox"
                               @click="rememberMe=((rememberMe=='Y')?'N':'Y')" />
                        Ricordami
                        <button type="button" name="btnlogin"
                                class="btn btn-lg btn-primary btn-block"
                                @click="signInRequest()">Accedi</button>
                        <button type="button" name="btnannullalogin"
                                class="btn btn-lg btn-secondary btn-block"
                                @click="hide()">Annulla</button>
                        <span>{{ message }}</span>
                    </form>
                </section>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</template>

<script>
import SignInRequest from '../api/SignInRequest';
import PhotoCarousel from '../../common/components/PhotoCarousel';
import LoginNotification from '../LoginNotification';

export default {
  name: 'SignIn',
  components: { PhotoCarousel },
  data() {
    return {
      message: '',
      rememberMe: 'N',
      email: '',
      password: '',
    };
  },
  methods: {
    signInRequest() {
      const body = {
        email: this.email,
        password: this.password,
        rememberMe: this.rememberMe,
      };
      SignInRequest.DoIt(body).then((result) => {
        this.message = result.message;
        if (result.message === 'OK') {
          this.$emit('loginComplete', result);
          console.log('Callback called');
          LoginNotification.CallCalbacks();
        }
      }).catch((error) => {
        this.message = error.message;
      });
      return null;
    },
    hide() {
      this.$emit('signInComplete');
      this.email = '';
      this.password = '';
      this.rememberMe = 'N';
      document.getElementById('RememberMe').checked = false;
    },
  },
};
</script>

<style lang="scss">
</style>
