<template>
      <div class="container">
        <div class="row" id="pwd-container">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br/>
            <section class="login-form">
              <form method="post" action="#" role="login">
                <div>
                  <input type="text" v-model="nome"
                       placeholder="Nome" required
                       autocomplete="given-name"
                       class="form-control input-lg" />
                  <input type="text" v-model="cognome"
                       placeholder="Cognome" required
                       autocomplete="family-name"
                       class="form-control input-lg" />
                  <input type="email" v-model="email"
                       placeholder="Email" required
                       autocomplete="email"
                       class="form-control input-lg" />
                  <input type="password" v-model="pwd" id="pwd"
                       placeholder="Password" required
                       autocomplete="new-password"
                       class="form-control input-lg" />
                  <input type="password" v-model="pwd2"
                       placeholder="Conferma password" required
                       autocomplete="new-password"
                       class="form-control input-lg" />
                  <input type="checkbox" id="privacy" @click="privacy=!privacy">
                       {{ pcy1 }}
                       <a href="static/InformativaTrattamentoDati.pdf" target="_blank"
                          v-b-tooltip.hover title="Vedi 'Informativa privacy'">
                           {{ pcy2 }}
                       </a>
                       {{ pcy3 }}
                       <a href="static/EULA.pdf" target="_blank"
                          v-b-tooltip.hover title="Vedi 'Condizioni d'uso'">
                           {{ pcy4 }}
                       </a>
                </div>
                <div class="pwstrength_viewport_progress"></div>

                <button type="button" name="btnnewuser" v-bind:disabled="!privacy"
                        class="btn btn-lg btn-primary btn-block"
                        @click="signOnRequest()">Registrati</button>
                <button type="button" name="btnannullalogin"
                        class="btn btn-lg btn-secondary btn-block"
                        @click="hide()">Annulla</button>

                <span>{{ msg }}</span>
              </form>
            </section>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
</template>

<script>
import SignOnRequest from '../api/SignOnRequest';

export default {
  name: 'SignOn',
  data() {
    return {
      privacy: false,
      pcy1: 'Ho letto ',
      pcy2: 'l\'informativa sulla privacy',
      pcy3: ' e accetto le ',
      pcy4: 'condizioni d\'uso',
      regOk: 'Registrazione avvenuta con successo.',
      regEmail: 'A breve ti arriverà un Email per completare la registrazione.',
      msg: '',
      nome: '',
      cognome: '',
      email: '',
      pwd: '',
      pwd2: '',
    };
  },
  methods: {
    signOnRequest() {
      const body = {
        name: this.nome,
        surname: this.cognome,
        email: this.email,
        password: this.pwd,
        password2: this.pwd2,
      };
      SignOnRequest.Registration(body).then((result) => {
        this.msg = result.message;
        this.msg = this.regOk.concat(this.regEmail);
      }).catch((error) => {
        this.msg = error.message;
      });
      return null;
    },
    hide() {
      this.$emit('signOnComplete');
      this.nome = '';
      this.cognome = '';
      this.email = '';
      this.pwd = '';
      this.pwd2 = '';
      document.getElementById('privacy').checked = false;
    },
  },
};
</script>

<style lang="scss">
</style>
