<template>
  <TableSection :add-click="addClick" :row-clicked="rowClicked"
                :table-items-provider="itemsProvider"
                :table-fields="listFields"
                :list-loading="loadingInProgress"
                :total-rows="totalRows">
    <template slot="add-button">
      <span class="icon icon-plus"></span> Aggiungi Template
    </template>
    <template slot="modal-editing">
      <SingleTemplateModal ref="modal"></SingleTemplateModal>
    </template>
  </TableSection>
</template>
<script>
import SingleTemplateModal from './TemplateComponents/SingleTemplateModal';
import TableSection from './TableComponents/TableSection';
import TemplateListRequest from '../../common/api/TemplateList';

export default {
  name: 'ShoppingListTemplate',
  components: { SingleTemplateModal, TableSection },
  props: {
    requestContextPreparation: {},
  },
  data() {
    return {
      listFields: [
        {
          key: 'name',
          label: 'Nome',
          sortable: true,
        },
        {
          key: 'description',
          label: 'Descrizione',
          sortable: true,
        },
      ],
      loadingInProgress: false,
      totalRows: 0,
    };
  },
  methods: {
    addClick() {
      this.openModal(-1);
    },
    openModal(id) {
      console.log(id);
      this.$refs.modal.show(id);
    },
    rowClicked(item) {
      this.openModal(item.id);
    },
    itemsProvider(ctx, callback) {
      this.loadingInProgress = true;
      TemplateListRequest.GetTemplateList(this.requestContextPreparation(ctx)).then((result) => {
        this.totalRows = result.numberOfTotalElement;
        if (this.firstTimeListLoading === true) {
          this.firstTimeListLoading = false;
          if (this.totalRows === 0) {
            this.$emit('empty-list');
          }
        }
        this.loadingInProgress = false;
        callback(result.elements);
      }).catch((error) => {
        console.log(error);
        callback([]);
      });
      // Must return null or undefined to signal b-table that callback is being used
      return null;
    },
  },
};
</script>
