<template>
  <div class="col-md-8 mx-auto pt-2">
    <b-tabs>
      <b-tab title="Template" active title-item-class="col">
        <ShoppingListTemplate :request-context-preparation="requestContextPreparation">
        </ShoppingListTemplate>
      </b-tab>
      <b-tab title="Categorie" active title-item-class="col">
        <Category :request-context-preparation="requestContextPreparation"></Category>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import ShoppingListTemplate from './ShoppingListTemplate';
import Category from './Category';

export default {
  name: 'TemplatesList',
  components: {
    Category,
    ShoppingListTemplate,
  },
  methods: {
    requestContextPreparation(ctx) {
      const params = {};
      if (ctx.filter !== null && ctx.filter !== undefined) {
        params.filter = ctx.filter;
      }
      if (ctx.perPage !== null && ctx.perPage !== undefined) {
        params.perPage = ctx.perPage;
        if (ctx.currentPage !== null && ctx.currentPage !== undefined) {
          params.currentPage = (ctx.currentPage - 1) * ctx.perPage;
          params.currentPage += 1;
        }
      }
      if (ctx.sortBy !== null && ctx.sortBy !== undefined) {
        params.sortBy = ctx.sortBy;
      }
      if (ctx.sortDesc !== null && ctx.sortDesc !== undefined) {
        params.sortDesc = ctx.sortDesc;
      }
      return params;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
