<template>
  <div id="app">
    <NavigationBar>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-secondary" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-secondary" v-on:click="apriLogin">Login</a>
        </li>
      </ul>
    </NavigationBar>
    <BodySection>
        <Login ref="Login"></Login>
    </BodySection>
    <FooterBar></FooterBar>
  </div>
</template>

<script>
import NavigationBar from '../common/components/NavigationBar';
import FooterBar from '../common/components/FooterBar';
import BodySection from '../common/components/BodySection';
import Login from './components/Login';

export default {
  name: 'App',
  components: {
    Login, BodySection, FooterBar, NavigationBar,
  },
  methods: {
    apriLogin() {
      this.$refs.Login.apriSignInOn();
    },
  },
};
</script>

<style lang="scss">
  @import '../common/assets/common';
</style>
